<div class="container p-4">
    <div class="row">
        <div class="w-100 mx-auto">
            <div class="card">
                <div class="card-body">
                    <div class="form-group">

<!--                        comentado, no se debe poder añadir tareas directamente, debe agregarse desde un proyecto-->
<!--                        <button onclick="location.href='/tasks/add'" class="btn btn-success">-->
<!--                            Nueva Tarea-->
<!--                        </button>-->
                    </div>
                    <h2>Tareas</h2>
                    <table class="table">
                        <thead>
                            <th>ID</th>
                            <th>Descripción</th>
                            <th>Estado</th>
                            <th>Prioridad</th>
                            <th>Versión</th>
                            <th>Creado el</th>
                        </thead>
                        <tbody>
                        {{#each tasks}}
                            <tr>
                                <td>{{id}}</td>
                                <td>{{description}}</td>
                                <td>{{status}}</td>
                                <td>{{priority}}</td>
                                <td>{{version}}</td>
                                <td>{{timeago created_at}}</td>
                                <td>
                                    <button onclick="location.href = '/tasks/edit/'+{{id}}" class="btn btn-warning">
                                        <i class="fas fa-edit"></i>
                                    </button>
                                </td>
                            </tr>
                        {{else}}
                            
                        {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>