<div class="row flex-fill flex-column flex-sm-row">
    <div class="container">
        <div class="card text-center">
            <div class="card-body">
                <h5>Bienvenido {{user.fullname}}</h5>
            </div>
        </div>

        <link href="plugins\pace\pace.min.css" rel="stylesheet">
        <script src="plugins\pace\pace.min.js"></script>

        <div id="container">
            <div class="boxed">

                <!-- Admin-->
                {{#if (verifyPermission 'MenuAdministracion' 'READ' userPermissions)}}
                    <div id="content-container">
                        <div id="page-content">
                            <div class="row">
                                <div class="col">
                                    <!--Sparkline pie chart -->
                                    <div class="panel panel-warning panel-colorful">
                                        <div class="pad-all">
                                            <p class="text-lg text-semibold">Progreso de Tareas</p>
                                            <p class="mar-no">
                                                <span class="pull-right text-bold">{{tasksComplete.length}}</span>
                                                Completadas
                                            </p>
                                            <p class="mar-no">
                                                <span class="pull-right text-bold">{{tasksIncomplete.length}}</span>
                                                Incompletas
                                            </p>
                                            <p class="mar-no">
                                                <span class="pull-right text-bold">{{tasks.length}}</span> Total
                                            </p>
                                        </div>
                                        <div class="pad-all">
                                            <div class="pad-btm">
                                                <div class="progress">
                                                    <div class="progress-bar" role="progressbar"
                                                         style="width: {{porcFinalizado}}%;" aria-valuenow="25"
                                                         aria-valuemin="0" aria-valuemax="100">{{porcFinalizado}}%
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-34">
                                <div class="panel">
                                    <div class="panel-body">
                                        <div class="table-responsive">
                                            <table class="table table-vcenter mar-top">
                                                <thead>
                                                <tr>
                                                    <th class="min-w-td">#</th>
                                                    <th class="min-w-td">User</th>
                                                    <th>Nombre Completo</th>
                                                    <th>Usuario</th>
                                                    <th>Rol</th>
                                                    <th>Creado el</th>
                                                    <th class="text-center">Actions</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {{#each users}}
                                                    <tr>
                                                        <td class="min-w-td">{{id}}</td>
                                                        <td><img src="img\profile-photos\1.png" alt="Profile Picture"
                                                                 class="img-circle img-sm"></td>
                                                        <td>{{fullname}}</td>
                                                        <td>{{username}}</td>
                                                        <td>{{rol}}</td>
                                                        <td>{{timeago created_at}}</td>
                                                        <td class="text-center">
                                                            <div class="btn-group">
                                                                <button onclick="location.href = '/admin/users/edit/'+{{id}}"
                                                                        class="btn btn-warning"><i
                                                                        class="fas fa-edit"></i>
                                                                </button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                {{else}}

                                                {{/each}}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-md-3">
                                    <div class="panel panel-info panel-colorful media middle pad-all">
                                        <div class="media-left">
                                            <div class="pad-hor">
                                                <i class="demo-pli-file-zip icon-3x"></i>
                                            </div>
                                        </div>
                                        <div class="media-body">
                                            <p class="text-2x mar-no text-semibold">{{userRol}}</p>
                                            <p class="mar-no">Usuarios por Roles</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="panel panel-danger panel-colorful media middle pad-all">
                                        <div class="media-left">
                                            <div class="pad-hor">
                                                <i class="demo-pli-video icon-3x"></i>
                                            </div>
                                        </div>
                                        <div class="media-body">
                                            <p class="text-2x mar-no text-semibold">{{cantUsers}}</p>
                                            <p class="mar-no">Cantidad de Usuarios</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="panel panel-warning panel-colorful media middle pad-all">
                                        <div class="media-left">
                                            <div class="pad-hor">
                                                <i class="demo-pli-file-word icon-3x"></i>
                                            </div>
                                        </div>
                                        <div class="media-body">
                                            <p class="text-2x mar-no text-semibold">
                                                <tr>
                                                    <td class="min-w-td">{{cantProyecto}}</td>
                                                </tr>
                                            </p>
                                            <p class="mar-no">Cantidad de Proyectos</p>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                {{/if}}
                <!-- Project Manager-->
                {{#if (verifyPermission 'MenuGestion' 'READ' userPermissions)}}

                    <div id="content-container">
                        <div id="page-content">
                            <div class="row">
                                <div class="col">
                                    <!--Sparkline pie chart -->
                                    <div class="panel panel-warning panel-colorful">
                                        <div class="pad-all">
                                            <p class="text-lg text-semibold">Progreso de Tareas</p>
                                            <p class="mar-no">
                                                <span class="pull-right text-bold">{{tasksComplete.length}}</span>
                                                Completadas
                                            </p>
                                            <p class="mar-no">
                                                <span class="pull-right text-bold">{{tasksIncomplete.length}}</span>
                                                Incompletas
                                            </p>
                                            <p class="mar-no">
                                                <span class="pull-right text-bold">{{tasks.length}}</span> Total
                                            </p>
                                        </div>
                                        <div class="pad-all">
                                            <div class="pad-btm">

                                                <div class="progress">
                                                    <div class="progress-bar" role="progressbar"
                                                         style="width: {{porcFinalizado}}%;" aria-valuenow="25"
                                                         aria-valuemin="0" aria-valuemax="100">{{porcFinalizado}}%
                                                    </div>

                                                </div>

                                                <div class="progress">
                                                    <div class="progress-bar" role="progressbar"
                                                         style="width: {{porcentajeIncompleto}}%;" aria-valuenow="25"
                                                         aria-valuemin="0" aria-valuemax="100">{{porcentajeIncompleto}}%
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-34">
                                <div class="panel">
                                    <h3>Lineas Bases</h3>
                                    <div class="panel-body">
                                        <div class="table-responsive">
                                            <table class="table table-vcenter mar-top">
                                                <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>Nombre</th>
                                                    <th>Descripcion</th>
                                                    <th>Estado</th>
                                                    <th class="text-center">Actions</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {{#each baseLines}}
                                                    <tr>

                                                        <th>{{id}}</th>
                                                        <td><a class="btn-link" href="#">{{name}}</a></td>
                                                        <td>{{description}}</td>
                                                        <td>{{status}}</td>
                                                        <td class="text-center">
                                                            <div class="btn-group">
                                                                <button onclick="location.href = '/base-lines/edit/'+{{id}}"
                                                                        class="btn btn-warning"><i
                                                                        class="fas fa-edit"></i>
                                                                </button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                {{else}}

                                                {{/each}}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row justify-content-center">
                            <div class="col-md-3">
                                <div class="panel panel-warning panel-colorful media middle pad-all">
                                    <div class="media-left">
                                        <div class="pad-hor">
                                            <i class="demo-pli-file-word icon-3x"></i>
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        <p class="text-2x mar-no text-semibold">
                                            <tr>
                                                <td class="min-w-td">{{proyectosUsuario}}</td>
                                            </tr>

                                        </p>
                                        <p class="mar-no">Cantidad de Proyectos</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="panel panel-danger panel-colorful media middle pad-all">
                                    <div class="media-left">
                                        <div class="pad-hor">
                                            <i class="demo-pli-video icon-3x"></i>
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        <p class="text-2x mar-no text-semibold">{{baseLines.length}}</p>
                                        <p class="mar-no">Lineas Base</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {{/if}}
                {{#if (verifyPermission 'MenuDesarrollo' 'READ' userPermissions)}}
                    <!--Developer-->
                    <div id="content-container">
                        <div id="page-content">
                            <div class="row">
                                <div class="col">
                                    <!--Sparkline pie chart -->
                                    <div class="panel panel-warning panel-colorful">
                                        <div class="pad-all">
                                            <p class="text-lg text-semibold">Progreso de Tareas</p>
                                            <p class="mar-no">
                                                <span class="pull-right text-bold">{{tasksPendiente}}</span> Pendientes
                                            </p>
                                            <p class="mar-no">
                                                <span class="pull-right text-bold">{{tasksIncomplete.length}}</span>
                                                Iniciadas
                                            </p>

                                        </div>
                                        <div class="pad-all">
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar"
                                                     style="width: {{porcPendiente}}%;" aria-valuenow="25"
                                                     aria-valuemin="0"
                                                     aria-valuemax="100">{{porcPendiente}}%
                                                </div>

                                            </div>

                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar"
                                                     style="width: {{porcentajeIncompleto}}%;" aria-valuenow="25"
                                                     aria-valuemin="0" aria-valuemax="100">{{porcentajeIncompleto}}%
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-34">
                                <div class="panel">
                                    <h3>Mis Tareas</h3>
                                    <div class="panel-body">
                                        <div class="table-responsive">
                                            <table class="table table-vcenter mar-top">
                                                <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>Descripción</th>
                                                    <th>Estado</th>
                                                    <th>Prioridad</th>
                                                    <th>Nombre del proyecto</th>
                                                    <th>Observación</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {{#each tasksprogramador}}
                                                    <tr>
                                                        <td>{{id}}</td>
                                                        <td>{{description}}</td>
                                                        <td>{{status}}</td>
                                                        <td>{{prioridad}}</td>
                                                        <td>{{name}}</td>
                                                        <td>{{observation}}</td>
                                                    </tr>
                                                {{/each}}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row mr">
                                <div class="col-md-3">
                                    <div class="panel panel-warning panel-colorful media middle pad-all">
                                        <div class="media-left">
                                            <div class="pad-hor">
                                                <i class="demo-pli-file-word icon-3x"></i>
                                            </div>
                                        </div>
                                        <div class="media-body">
                                            <p class="text-2x mar-no text-semibold">
                                                <tr>
                                                    <td class="min-w-td">{{proyectosUsuario}}</td>
                                                </tr>
                                            </p>
                                            <p class="mar-no">Cantidad de Proyectos</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="panel panel-danger panel-colorful media middle pad-all">
                                        <div class="media-left">
                                            <div class="pad-hor">
                                                <i class="demo-pli-video icon-3x"></i>
                                            </div>
                                        </div>
                                        <div class="media-body">
                                            <p class="text-2x mar-no text-semibold">{{tasksDevelop}}</p>
                                            <p class="mar-no">Cantidad de Tareas</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {{/if}}
            </div>
        </div>
    </div>
</div>