<div class="continter p-4">
    <div class="col-sm-8 mx-auto">
        <div class="card">
            <div class="card-header">
                {{#unless wo}}
                    <h4>Nueva Orden de Trabajo</h4>
                {{else}}
                    <h4>Editando orden de Trabajo ID: {{wo.id}}</h4>
                    <div class="comment-by">Agregado el {{formatter created_at "DD/MM/YYYY HH:mm"}}</div>
                {{/unless}}
            </div>
            <div class="card-body">
                <form action="/work-orders/save/{{wo.id}}" method="POST" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-sm-6">  
                            <dl>
                                <dt><label for="cliente">Nombre del Conductor:</label></dt>
                                <dd><input type="text" value="{{wo.cliente}}" class="form-control" name="cliente" placeholder="Nombre del Conductor"  autofocus></dd>

                                <dt><label for="vehiculo">Datos del Vehículo:</label></dt>
                                <dd><input type="text" value="{{wo.vehiculo}}" class="form-control" name="vehiculo" placeholder="Marca/Modelo/Color"></dd>
                                
                                <dt><label for="encargado">Encargado:</label></dt>
                                <dd>
                                    <select name="encargado" class="custom-select">
                                        {{#each userList}}
                                            <option value="{{id}}" {{ selectedOption id ../wo.encargado }}>{{fullname}}</option>
                                        {{/each}}
                                    </select>
                                </dd>
                            </dl>
                        </div>
                        <div class="col">
                            <dl>
                                <dt><label for="status">Estado Pedido:</label></dt>
                                <dd>
                                    <select name="status" class="custom-select">
                                        {{#each statusList}}
                                            <option value="{{id}}"  {{ selectedOption id ../wo.statusid }}>{{description}}</option>
                                        {{/each}}
                                    </select>
                                </dd>
                                <dt><label for="telefono">Teléfono:</label></dt>
                                <dd><input type="text" value="{{wo.telefono}}" class="form-control" name="telefono" placeholder="098X XXX XXX"></dd>
                                <dt><label for="vinnro">VIN N°:</label></dt>
                                <dd><input type="text" value="{{wo.vinnro}}" class="form-control" name="vinnro" placeholder=""></dd>
                            </dl>
                        </div>
                        <div class="col">
                            <dl>
                                <dt><label for="combustible">Estado Combustible:</label></dt>
                                <dd>
                                    <select name="combustible" class="custom-select">
                                        {{#each fuelList}}
                                            <option value="{{id}}"  {{ selectedOption id ../wo.fuelid }}>{{description}}</option>
                                        {{/each}}
                                    </select>
                                </dd>
                                <dt><label for="chapa">Chapa N°:</label></dt>
                                <dd><input type="text" value="{{wo.chapa}}" class="form-control" name="chapa" placeholder="XXXX 999"></dd>
                                <dt><label for="recorrido">mi/km</label></dt>
                                <dd><input type="text" value="{{wo.recorrido}}" class="form-control" name="recorrido" placeholder="X00.000 km"></dd>
                            </dl>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <dl>
                                <dt>
                                    Descripción del Trabajo
                                </dt>
                                <dd>
                                    <textarea name="description"  class="form-control">{{wo.description}}</textarea>
                                </dd>
                            </dl>
                        </div>
                    </div>
                    <div class="row">
                        {{#each wof}}
                            {{#if (filetypeValidator filetype "img")}}
                                <div class="col-sm-3">
                                    <img class="rounded float-left img-fluid cursor-zoom" src="/uploads/{{filename}}" onclick="mostrarImagen('/uploads/{{filename}}')"/>
                                    <button type="button" onclick="eliminarArchivo({{../wo.id}}, {{id}});" class="btn btn-danger btn-block" >
                                        Borrar
                                    </button>
                                </div>
                            {{/if}}
                            {{#if (filetypeValidator filetype "video")}}
                                <div class="col-sm-3">
                                    <video class="rounded float-left img-fluid" src="/uploads/{{filename}}" onclick="mostrarVideo('/uploads/{{filename}}')"></video>
                                    <button type="button" onclick="eliminarArchivo({{../wo.id}}, {{id}});" class="btn btn-danger btn-block">
                                        Borrar
                                    </button>    
                                </div>
                            {{/if}}
                            {{#if (filetypeValidator filetype "unknown")}}
                                <div class="col-sm-3">
                                    <img class="rounded float-left img-fluid cursor-zoom" src="/uploads/{{filename}}" alt="Este formato puede no mostrarse" onclick="mostrarImagen('/uploads/{{filename}}')"/>
                                    <button type="button" onclick="eliminarArchivo({{../wo.id}}, {{id}});" class="btn btn-danger btn-block">
                                        Borrar
                                    </button>    
                                </div>
                            {{/if}}
                        {{/each}}
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <dl>
                                <dt>
                                    Agregar Archivos
                                </dt>
                                <dd>
                                    <input type="file" name="archivos" id="archivos">
                                </dd>
                            </dl>
                        </div>
                    </div>
                    <div class="row">
                        <div class="mx-auto" >
                            <button class="btn btn-success">
                                
                                {{#unless wo}}
                                    Guardar
                                {{else}}
                                    Actualizar Orden de Trabajo
                                {{/unless}}
                            </button>
                        </div>
                    </div>
                </form>
                
            </div>
        </div>
        <div class="card">
            <div class="row">
                {{#each woc}}
                    <div class="comment-box mx-auto">
                        {{comment}}
                        <div class="comment-by">comentado por {{created_by}} el {{formatter created_at "DD/MM/YYYY HH:mm"}}</div>
                    </div>
                {{/each}}
            </div>
            {{#if wo.id}}
                <div class="card-body">
                    <form action="/work-orders/add/comment/{{wo.id}}" method="POST">
                        <div class="row">
                            <div class="col-sm-10">
                                <dl>
                                    <dt>Comentario:</dt>
                                    <dd>
                                        <textarea name="comment" id="comment" class="form-control"></textarea>
                                    </dd>
                                </dl>
                            </div>
                            <div class="col my-auto" >
                                <button class="btn btn-success float-right">
                                    Agregar Comentario
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            {{/if}}
        </div>
        <div id="modal" class="modal" onclick="this.style.display='none'">
            <span class="w3-button hover-red xlarge display-topright">&times;</span>
            <div class="modal-content animate-zoom">
            <img id="image_modal" src="" style="width:100%">
            </div>
        </div>
        <div id="video_modal" class="modal">
            <span class="w3-button hover-red xlarge display-topright" onclick="cerrarVideo()">&times;</span>
            <div class="modal-content animate-zoom">
            <video id="video_modal_i" src="" style="width:100%" controls></video>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
function eliminarArchivo(wo, id){
    if(confirm('¿Esta seguro de que desea eliminar este archivo?'+ wo +" "+ id))
        location.href = '/work-orders/delete/file/'+wo+'/'+id;
    return false;
}

function mostrarImagen(src){
    let modal = document.getElementById('modal');
    modal.style.display = 'block';
    let img = document.getElementById('image_modal');
    img.setAttribute('src', src);
}

function mostrarVideo(src){
    let modal = document.getElementById('video_modal');
    modal.style.display = 'block';
    let v = document.getElementById('video_modal_i');
    v.setAttribute('src', src);
}

function cerrarVideo(){
    document.getElementById('video_modal').style.display='none'
    document.getElementById('video_modal_i').setAttribute('src', '');

}
</script>