<div class="continter p-4">
    <div class="col-sm-8 mx-auto">
        <div class="card">
            <div class="card-header">
                <h4>Nueva Orden de Trabajo</h4>
            </div>
            <div class="card-body">
                <form action="/work-orders/save" method="POST" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-sm-6">
                            <dl>
                                <dt><label for="cliente">Nombre del Conductor:</label></dt>
                                <dd><input type="text" class="form-control" name="cliente" placeholder="Nombre del Conductor" autofocus></dd>

                                <dt><label for="vehiculo">Datos del Vehículo:</label></dt>
                                <dd><input type="text" class="form-control" name="vehiculo" placeholder="Marca/Modelo/Color"></dd>
                                
                                <dt><label for="encargado">Encargado:</label></dt>
                                <dd>
                                    <select name="encargado" class="custom-select">
                                        {{#each userList}}
                                            <option value="{{id}}">{{fullname}}</option>
                                        {{/each}}
                                    </select>
                                </dd>
                            </dl>
                        </div>
                        <div class="col">
                            <dl>
                                <dt><label for="status">Estado Pedido:</label></dt>
                                <dd>
                                    <select name="status" class="custom-select">
                                        {{#each statusList}}
                                            <option value="{{id}}">{{description}}</option>
                                        {{/each}}
                                    </select>
                                </dd>
                                <dt><label for="telefono">Teléfono:</label></dt>
                                <dd><input type="text" class="form-control" name="telefono" placeholder="098X XXX XXX"></dd>
                                <dt><label for="vinnro">VIN N°:</label></dt>
                                <dd><input type="text" class="form-control" name="vinnro" placeholder=""></dd>
                            </dl>
                        </div>
                        <div class="col">
                            <dl>
                                <dt><label for="combustible">Estado Combustible:</label></dt>
                                <dd>
                                    <select name="combustible" class="custom-select">
                                        {{#each fuelList}}
                                            <option value="{{id}}">{{description}}</option>
                                        {{/each}}
                                    </select>
                                </dd>
                                <dt><label for="chapa">Chapa N°:</label></dt>
                                <dd><input type="text" class="form-control" name="chapa" placeholder="XXXX 999"></dd>
                                <dt><label for="recorrido">mi/km</label></dt>
                                <dd><input type="text" class="form-control" name="recorrido" placeholder="X00.000 km"></dd>
                            </dl>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <dl>
                                <dt>
                                    Descripción del Trabajo
                                </dt>
                                <dd>
                                    <textarea name="description" class="form-control"></textarea>
                                </dd>
                            </dl>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <dl>
                                <dt>
                                    Agregar Archivos
                                </dt>
                                <dd>
                                    <input type="file" name="archivos" id="archivos">
                                </dd>
                            </dl>
                        </div>
                    </div>
                    <div class="row">
                        <div class="mx-auto" >
                            <button class="btn btn-success">
                                Guardar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>