<div class="container p-4">
    <div class="row">
      <div class="mx-auto">
          <div class="card">
              <div class="card-body">
                  <form action="/work-orders/filter" method="get">
                    <div class="form-group">
                    </div>
                  </form>
              </div>
          </div>
      </div>
    </div>
    <div class="row">
      <div class="mx-auto">
          <div class="card">
              <div class="card-body">
                  <table class="table table-hover">
                      <thead>
                          <th scope="col">ID:</th>
                          <th scope="col">Cliente:</th>
                          <th scope="col">Vehículo:</th>
                          <th scope="col">Teléfono:</th>
                          <th scope="col">Fecha Ingreso:</th>
                          <th scope="col">Encargado:</th>
                          <th scope="col">Estado</th>
                      </thead>
                      <tbody>
                          {{#each workOrders}}
                          <tr onclick="location.href='/work-orders/edit/{{id}}'">
                              <td>{{id}}</td>
                              <td>{{cliente}}</td>
                              <td>{{vehiculo}}</td>
                              <td>{{telefono}}</td>
                              <td>{{formatter created_at "DD/MM/YYYY HH:mm"}}</td>
                              <td>{{encargado}}</td>    
                              <td>{{status}}</td>
                          </tr>
                          {{else}}
                          <tr><td colspan="7">No hay ordenes de trabajo aún.</td></tr>
                          {{/each}}
                      </tbody>
                  </table>
              </div>
          </div>
      </div>  
    </div>
</div>