<div class="container p-4">
    <div class="row">
        <div class="w-100 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3>
                        {{#unless rolData}}
                            Nuevo Rol
                        {{ else }}
                            Editando Rol
                        {{/unless }}
                    </h3>
                </div>
                <div class="card-body">
                    <form action="/admin/roles {{rolData.id}}" method="POST">
                        <div style="text-align: left">
                            <dl>
                                <dt><label for="fullname">Nombre:</label></dt>
                                <dd><input type="text" name="name" placeholder="Nombre" class="form-control" value="{{rolData.name}}" autofocus></dd>
                                <dt><label for="context">Contexto:</label></dt>
                                <dd><input type="text" name="context" placeholder="Contexto" class="form-control" value="{{rolData.context}}"></dd>

                            </dl>
                    <div class="col-md-6 card-body">
                        
                        {{!-- aqui --}}
                      <dt><label for="permisosField">Permisos:</label> </dt> 
                       
                        {{#each permisos}}
                            {{#unless check}}
                            <div class="form-check form-switch"> 
                                <input class="form-check-input" type="checkbox" name="permiso" value="{{id}}" id={{id}}>
                                <label class="form-check-label" for={{id}}>{{name}}</label>
                             </div>
                            {{ else }}
                            <div class="form-check form-switch">
                                <input class="form-check-input" checked="false" type="checkbox" name="permiso" value="{{id}}" id={{id}}>
                                <label class="form-check-label" for={{id}}>{{name}}</label>
                             </div> 
                            {{/unless }}                       
                        {{/each}}
                        
                    </div>
                            <div class="form-group">
                                <button class="btn btn-success btn-block">
                                    Guardar
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>