<div class="container p-4">
    <div class="row">
        <div class="mx-auto">
            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        <button onclick="location.href='/signup'" class="btn btn-success">
                            Nuevo Usuario
                        </button>
                    </div>
                    <table class="table">
                        <thead>
                            <th>Nombre Completo</th>
                            <th>Usuario</th>
                            <th>Es Administrador</th>
                            <th>Creado el</th>
                            <th></th>
                        </thead>
                        <tbody>
                        {{#each users}}
                            <tr>
                                <td>{{fullname}}</td>
                                <td>{{username}}</td>
                                <td>
                                    {{#if isadmin}}
                                        Si
                                    {{else}}
                                        No
                                    {{/if}}
                                </td>
                                <td>{{timeago created_at}}</td>
                                <td>
                                    <button onclick="eliminarUsuario({{id}});" class="btn btn-danger">
                                        Borrar
                                    </button>
                                </td>
                            </tr>
                        {{else}}
                            
                        {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
function eliminarUsuario(id){
    if(confirm('¿Esta seguro de que desea eliminar el usuario?'))
        location.href = '/admin/users/delete/'+id;
    return false;
}
</script>