<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3>
                        {{#unless userData}}
                            Nuevo Usuario
                        {{ else }}
                            Editando Usuario
                        {{/unless }}
                    </h3>
                </div>
                <div class="card-body">
                    <form action="/admin/users/{{userData.id}}" method="POST">
                        <div style="text-align: left">
                            <dl>
                                <dt><label for="fullname">Nombre Completo:</label></dt>
                                <dd><input type="text" name="fullname" placeholder="Nombre Completo" class="form-control" value="{{userData.fullname}}" autofocus></dd>
                            </dl>

                            <dl>
                                <dt><label for="username">Usuario:</label></dt>
                                <dd><input type="text" name="username" placeholder="Usuario" class="form-control" value="{{userData.username}}" autocomplete="false"></dd>
                            </dl>

                            {{#unless userData}}
                                <dl>
                                    <dd><input type="password" name="password" class="form-control" placeholder="Contraseña" autocomplete="new-password"></dd>
                                </dl>
                            {{else}}
                            {{/unless}}

                            <dl>
                                <dt><label for="rol">Rol:</label></dt>
                                <dd>
                                    {{#each rolesCombo}}
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox" name="role" id="flexSwitchCheckDefault" value="{{id}}" {{checkedOption id ../rolid}}>
                                            <label class="form-check-label" for="flexSwitchCheckDefault">{{name}}</label>
                                        </div>
                                    {{/each}}
                                </dd>

                            </dl>
                            <div class="form-group">
                                <button class="btn btn-success btn-block">
                                    Añadir
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>